.d1 {
    display: inline-block;
    background-color: rgb(69, 19, 112);
    border-radius: 10px;
    width: 400px;
    height: 300px;
    padding: 30px;
    margin: 20px;
    }
.p1 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
.h1 {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}