*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url(./images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}

.logo{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition:  ease-in 0.4s;
}

nav ul li a:hover{
    border-bottom: 1px solid #fff;
    text-shadow: 0 0 10px #fff;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size: 100px;

}

p{
    color: #e7e7e7e4;
    font-size: 11px;
    line-height: 15px;
}

button{
    width: 180px;
    color: #ffffff;
    font-size: 15px;
    padding: 12px 0;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px inset #fff;
    outline: none;
    margin-top: 30px;
    transition: 0.5s;
}

button:hover{
    text-shadow: 0 0 10px #fff;
    transform: translatex(10px);
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    float: right;
    transition: transform 0.5s;
}

.card1{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),url(./images/bmw.jpg);
}

.card2{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),url(./images/h2r.jpg);
}

.card3{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),url(./images/mt10.jpg);
}

.card4{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),url(./images/hayabusa.jpg);
}

.card:hover{
    transform: translateY(-10px);
}


h5{
    color: #fff;
    text-shadow: 0 0 8px #999;
    font-size: 17px;
}

.card p{
    text-shadow: 0 0 15px #000;
    font-size:9px;
}