*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;
    background-color: rgb(230, 237, 244);
    padding: 20px;
}
#email {
    font-size: 30px;
    font-weight: 600;
}
#password {
    font-size: 30px;
    font-weight: 600;
}
div {
    margin-bottom: 2rem;
}

input {
    font-size: 30px;
    margin: 20px;
}