* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
header {
    width: 100%;
    height: 10%;
    background-color: #b5b5b5cf;
    padding: 1rem;
}
header img {
    width: 8rem;
    height: 6rem;

}

header ul {
    display: inline;
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
    
}

header ul li {
    list-style: none;
    display: inline;

}

header ul li a img {
    width: 50px;
    height: 50px;
}

nav {
    width: 100%;
    height: 10%;
    background: black;
    

}

nav ul {
    padding: 1rem;
    text-align: center;

}

nav ul li {
    list-style: none;
    display: inline;
    font-size: 3rem;
    color: white;
    margin-right: 1rem;
    font-weight: 700;
}

#main {
    background-color: rgb(234, 146, 32);
    width: 100%;
    height: 65%;
}

#main aside {
    display: inline;
    width: 30%;
    float: right;
}

#main aside h1 a {
    font-style: none;
    font-size: 3rem;
}

#main article {
    display: inline;
    width: 70%;
    float: left;
}
 
#main article img {
    width: 300px;
    height: 300px;
}
/* footer  */
footer {
    width: 100vw;
    height: 20%;
    background-color: #b4b4b4cf;
}

footer #logo {
    width: 6rem;
    height: 3rem;
    margin: 3rem;
}
footer #ul1 {
    display: inline;

}

footer ul li{
    display: inline;

}

footer div {
    display: inline;
}

footer div ul {
    display: inline;
}